body{
    background-color:rgb(129, 153, 146);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}


div{
    border: 1px solid #ccc;
    margin-top: 1em;
}

#aromaticas{
    color:crimson
}

p{
    font-size: 15px;
}

img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

img:last-child {
    margin-right: 0;
}

video{
    margin-top: 20px;
}